.form-box {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box div {
  padding-bottom: 10px;
}

.form-box div label {
  padding-right: 10px;
}
